/* You can add global styles to this file, and also import other style files */
.border-sidebar{
  background-color: #FFEAD2;
  min-height: 77vh;
  border-radius: 15px;
}
.full-width{
    width: 100%;
}
.nav-design, .nav-design-data{
    padding: 5px;
    width: 100%;
}
.nav-design, .nav-design-data{
    color: rgb(107, 107, 107) !important;
    padding: 5px;
    border-radius: 15px;
    height: 55px;
}

.nav-design:hover, .nav-design-data:hover{
    /* background-color: #FFF4E0; */
    background-color: #FFFBEB;
}
.nav-design-data:hover{
    
    border-top-right-radius: 15px;
}
.main-header{
    padding-top: 15px;
}
.user-header{
    padding: 12px;
    font-size: 40px;;
}
span, i{
  color:black;
}
i{
  vertical-align: bottom;
  font-weight: bold;
}
.side-bar{
  border-radius: 25px;
}
#menu{
  margin-top: 20px;
  padding: 15px 18px;
}
table{
  width: 100%;
}
img{
  width: 204px;
  border-radius: 76px;
}
.body-container{
  margin-top: 45px;
  color:#483838
}
h2{
  font-weight: bold;
}
